<article class="text--justified">
    <header><h2>WeaponTypes</h2></header>
    <p>
      <a [routerLink]="['/add/weapontypes']">Add New Weapon Type</a>
    </p>
    <table *ngIf="weaponTypes">
      <thead>
        <tr>
          <th>Name</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weaponType of weaponTypes.weaponTypes">
          <td>{{weaponType.category}}</td>
          <td>
            <a [routerLink]="['/weapontypes', weaponType.id]">View</a>
          </td>
          <td>
            <a [routerLink]="['/weapontypes', weaponType.id, 'edit']">Edit</a>
          </td>
          <td>
            <button (click)="onDelete(weaponType.id)">Delete</button>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  